<%-include("../layouts/userNavBar.ejs") %>
   
<div class="container text-center mt-5">
    <h1>Thank You <span>😊</span></h1>
    <div class="mt-4">
        <button onclick="window.location.href='/OrderHistory'" class="btn btn-primary">Show Order</button>
        <button onclick="window.location.href='/home'" class="btn btn-secondary">Home</button>
    </div>
</div>
    <%-include("../layouts/userFooter.ejs") %>